body {
font-family: 'Open Sans', sans-serif;
font-weight: 400;
margin-bottom: 50px;
}

body h1, h2, h3, h4, h5, h6 {
font-family: 'Josefin Slab', serif;
}

h1{
  font-size: 52px;
}

.container {
  padding-top: 20px;
}

.btn-delete {
  margin-top: 12px;
}

@media screen and (min-width : 991px) {
  .btn-delete {
    margin-top: 32px;
  }
}

textarea.form-control {
  resize: none;
  height: 150px;
}

.stories-header h1, p {
  text-align: center;
}

.stories-header  p {
  font-size: 20px;
}

.indiv-story {
  display: inline-block;
  border: 2px solid #00AAB8;
  border-radius: 9px;
  margin: 0 2px 15px;
  vertical-align: top;
  width: 100%;

}


.story-age {
  background-color: #00AAB8;
  display: inline-block;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 2px solid #00AAB8;
  font-size: 20px;
  color: white;
  padding: 10px;
  font-weight: 300;
  width: 100%;
  text-align: left;

}

.state-dec h1 {
  border-bottom: 2px solid;
  border-color: #00AAB8;

}

.story-name {
  text-align: left;
  font-size: 20px;
  padding-left: 10px;
  display: inline-block;
}
.story-state {
  text-align: left;
  font-size: 15px;
  padding-left: 10px;
}

.story-story {
  text-align: left;
  font-size: 15px;
  padding-left: 10px;
  line-height: 1.5;
  padding: 15px;
}

.btn-primary {
  background-color: #00AAB8;
  border: none;
}

.btn-primary:hover {
  background-color: #008994;
}

.story_name {
  width: 70%;
  display: inline-block;
}

.checkbox{
    display: inline-block;
    padding-left: 30px;
}

.story_state {
  width: 23%;
    display: inline-block;
}

.story_age {
  width: 75%;
  display: inline-block;
  padding-left: 15px;
}

.main-story p {
  text-align: left;
  line-height: 1.6;
  font-size: 16px;
  padding: 10px 30px;
}

.main-story img {
  padding: 10px 30px;
  margin: auto;
  display: block;
}

g:hover {
  cursor: pointer;
}


.form-group.approved_field {
  display: none;
}

span.pending {
  font-size: 12px;
  vertical-align: middle;
}



.row1 {
	/* column width */
	-moz-column-width: 25em;
	-webkit-column-width: 25em;

	/* space between columns */
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
}

.state-stories {
  margin: 0px;
  padding: 0px;
}

.email-noto {
  font-weight: 700;
  text-align: left;
  font-size: 10px;
}

.required {
  font-size: 8px;
  color: grey;
  vertical-align: middle;
  font-weight: 300;
}

.animated {
        -webkit-animation-delay: 4s;
        animation-delay: 4s;
        -webkit-animation-duration: 4s;animation-duration: 4s;
        -webkit-animation-fill-mode: both;animation-fill-mode: both;
        display: block;

     }

     @-webkit-keyframes fadeOut {
        0% {opacity: 1;}
        100% {opacity: 0;}
     }

     @keyframes fadeOut {
        0% {opacity: 1;}
        100% {opacity: 0;}
     }

     .fadeOut {
        -webkit-animation-name: fadeOut;
        animation-name: fadeOut;
     }

.infoBar {
    opacity:0;
    transition:all 2s;
    background-color: #00AAB8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
      width: 80%;
      display: inline-block;
  }

.infoBar.in-view {
      opacity:1;
  }

.infoSection {
  padding: 0px;
  margin-right: 0;
  margin-left: 0;
}

.infoSection p {
  padding: 20px;
  color: white;
  text-align: left;
  font-size: 16px;
  font-weight: 300;
}

.cover-photo{
  margin: 0px;
  padding: 0px;
}

.parallax {
    /* The image used */
    background-image: url("../img/cs-5.jpg");

    /* Set a specific height */
    height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.title {
  text-align: center;
  vertical-align: middle;
  background-color: #00AAB8;
  padding: 20px;
}

.title h1 {
  color: #fff;
}

.container-fluid {
  padding: 0px;
  margin: 0px;
}

.a2a_default_style {
  display: block;
  margin: auto;
  width: 20%;
  padding-top: 20px;
}

#videosList {
 max-width: 200px;
  overflow: hidden;
  display: inline-block;
  
}

.video.first {
  background-image: url('../img/question1.jpg');
  height: 200px;
  width: 200px;
  background-size: contain;
  display: inline-block;
}

.video.second {
  background-image: url('../img/question2.jpg');
  height: 200px;
  width: 200px;
  background-size: contain;
  display: inline-block;
}

.video.third {
  background-image: url('../img/question3.jpg');
  height: 200px;
  width: 200px;
  background-size: contain;
  display: inline-block;
}

.video.fourth {
  background-image: url('../img/question4.jpg');
  height: 200px;
  width: 200px;
  background-size: contain;
  display: inline-block;
}

.video.fifth {
  background-image: url('../img/question5.jpg');
  height: 200px;
  width: 200px;
  background-size: contain;
  display: inline-block;
}

.video.sixth {
  background-image: url('../img/question6.jpg');
  height: 200px;
  width: 200px;
  background-size: contain;
  display: inline-block;
}

/* Hide Play button + controls on iOS */
video::-webkit-media-controls {
    display:none !important;
}

.videoGrid {
  margin: auto;
  display: block;
  width: 80%;
}

h3 {
  padding-left: 15px;
}

h4:hover {

  font-weight: 300px;
  border-bottom: 1px solid #fff;
  border-width: 1px;
  margin: 10px;
  display: inline-block;
}

h4 {

  font-weight: 300px;
  margin: 10px;
  display: inline-block;
}

a{
  text-decoration: none;
  color: #fff;
}

a:hover, h4:hover {
  color:#fff;
  border-color: #fff;
}

.sidebar {
  background-color: #F2F2F2;
  padding-bottom: 15px;
  margin-right: 20px;
}

.burb {
  font-size: 13px !important;
  font-weight: 700;
}

.hashtag {
  text-align: center !important;
    font-size: 20px !important;
    color: #00AAB8;
    font-weight: 700;
}

.byline {
  font-size: 10px;
  padding: 0px 30px !important;
}

.byline a {
  color:  #00AAB8;
}
@media screen and (max-width: 560px) {

 .videoGrid {
   width: 90%;
 }

 .video.sixth , .video.fifth, .video.fourth, .video.third, .video.second, .video.first {
   height: 150px;
   width: 150px;
 }

 .a2a_default_style {
   display: block;
   margin: auto;
   width: 50%;
   padding-top: 20px;
 }

 .parallax {
     height: 200px;
     background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: top;
    background-size: cover;

 }


 .story_name {
   width: 100%;
   display: inline-block;
 }

 .checkbox{
     display: inline-block;
     padding-left: 15px;
 }

 .story_state {
   width: 100%;
     display: inline-block;
 }

 .story_age {
   width: 100%;
   display: inline-block;
   padding-left: 0px;
 }

 .form-area h1 {
   font-size: 40px;
 }

}

@media screen and (max-width: 1250px) {
  .videoGrid {
    width: 100%;
  }
}
